.beforenavbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
}

.text {
    color: rgb(165, 91, 42);
    font-family: serif;
    margin-top: 15px;
    margin-left: 15px;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(165, 91, 42);
    color: white;
    font-family: serif;
    border-radius: 8px;
    padding-top: 15px;
}

.dropdown-menu,
.dropdown-menu ul {
  list-style-type:none;
}

table {
    text-align: center;
}

.margin {
    margin-top: 150px;
}

.mt-150 {
    margin-top: 175px !important;
  }

hr {
    border-width: 3px;
}